
		a.bar{
			text-decoration: none;
			
			padding-right: 15px;
			padding-left: 15px;
			margin: 10px;
			color: white;
		}
		
		

		#entire{
			width: 700px;
			margin-left: auto;
			margin-right: auto;
		}

		#sidebar{
			background-color:#F4D6DE;
			width: 700px;
			text-align: center;
			height: 40px;
			border-radius: 0px 0px 10px 10px;
		}
